Options -Indexes -MultiViews
RewriteEngine On

<FilesMatch "^\.">
  Require all denied
</FilesMatch>

RewriteRule ^eduquest-install(/|$) - [F,L]
RewriteCond %{REQUEST_URI} !^/api(?:/|$)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [QSA,L]
